body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
    background-color: #e5e5e5;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-row-2 {
    grid-row: 2;
}

label {
    margin-bottom: .5rem;
}

.controls {
    grid-column: 2;
    background-color:white;
    padding: 0 1rem 1rem 1rem;
    box-shadow: 0 5px 10px #00000017;
}

.controls h3 {
    margin-top: 1rem;
}

.controls > div {
    margin-top: 1.5rem;
}

.hide {
    visibility: hidden;
}

#canvas {
    grid-column: 1;
    grid-row: 1 / 3;
}


/*
    Sorry its just for looking nice
*/
canvas {
    width: 500px !important;
    height: 500px !important;
}